h1 {
  color: white;
}

.grid {
  align-content: space-between;
  background-image: url("../../assets/grid_background.jpeg");
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 480px;
  justify-content: space-between;
  margin: auto;
  place-self: start center;
  width: 480px;
  /* padding: 10px; */
  border: 2px solid yellow;
}